<p-dialog [(visible)]="show" header="Invoice Details" (onHide)="onClose()" modal="modal"
  [style]="{'margin-left':'80px', 'margin-right':'80px'}" [responsive]="true">
   <!-- <div>Content</div>   -->
    <!-- <div>{{modalData | json}}</div>   -->

   <table *ngIf="modalData" class="table table-bordered table-sm">    
    <tr>
      <th>Payment ID</th>
      <td>{{modalData.payment_id}}</td>
    </tr>
    <tr>
      <th>Invoice Num</th>
      <td>{{modalData.invoice_num}}</td>
    </tr>
    <tr>
      <th>Invoice Amount</th>
      <td>{{modalData.invoice_amount}}</td>
    </tr>
    <tr>
      <th>Invoice Currency Code</th>
      <td>{{modalData.invoice_currency_code}}</td>
    </tr>
    <tr>
      <th>Invoice Date</th>
      <td>{{modalData.invoice_date}}</td>
    </tr>
    <tr>
      <th>Invoice Id</th>
      <td>{{modalData.invoice_id}}</td>
    </tr>
    <tr>
      <th>Created By</th>
      <td>{{modalData.created_by}}</td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>{{modalData.creation_date}}</td>
    </tr>
    <tr>
      <th>Last Update Date</th>
      <td>{{modalData.last_update_date}}</td>
    </tr>
    <tr>
      <th>Last Updated By</th>
      <td>{{modalData.last_updated_by}}</td>
    </tr>
    <tr>
      <th>Org Id</th>
      <td>{{modalData.org_id}}</td>
    </tr>
    <tr>
      <th>Payment Method Code</th>
      <td>{{modalData.payment_method_code}}</td>
    </tr>
    <tr>
      <th>Request Id</th>
      <td>{{modalData.request_id}}</td>
    </tr>
    <tr>
      <th>Supplier Name</th>
      <td>{{modalData.supplier_name}}</td>
    </tr> 
    <tr>
      <th>Supplier Site Name</th>
      <td>{{modalData.supplier_site_name}}</td>
    </tr> 
 </table>
</p-dialog>